body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #fafafa;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.normal {
   color: rgb(31, 44, 31);
}

.hovered {
   color: rgb(131, 212, 8);
}

.wrapper {
   padding: 1em;
}

.field-error {
   background-color: hsl(0, 86%, 37%);
   color: hsl(0, 86%, 52%);
   font-size: 11px;
   padding: 0.2em;
}
